.yes-button {
    font-size: 1.5em;
    padding: 10px 20px;
    margin-right: 10px;
    background-color: #4caf50; /* Green */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

.yes-button:hover {
    background-color: #388e3c; /* Darker Green */
    transform: scale(1.1);
}

.no-button {
    font-size: 1.5em;
    padding: 10px 20px;
    background-color: #f44336; /* Red */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

.no-button:hover {
    background-color: #d32f2f; /* Darker Red */
    transform: scale(1.1);
}